@import '../../styles/vars.less';

.btn-1 {
  background-color: black !important;
}

.theme-btn {
  background-color: @theme-color !important;
  border-color: @theme-color !important;
  border-radius: 0!important;
}

.theme-btn:hover {
  background-color: darken(@theme-color, 10%) !important;
  border-color: darken(@theme-color, 10%) !important;
}