@import '../../styles/vars.less';

#app {
    height: 100%;
    margin: 0!important;
    padding: 0!important;
    display: flex;
    flex-direction: column;
}

.page-content {
    flex: 1 0 auto;
    margin-bottom: 3rem;;

    &__title {
        padding: .5rem 0;
        font-size: 20px;
        color: @theme-color;
        font-weight: bold;
    }

    &__spinner {
        margin: 50px auto;
        text-align: center;

        .spinner-border {
            width: 4rem;
            height: 4rem;;
        }
    }

    &__range-wrapper {
        padding: .5rem 0;
        font-size: 18px;
        color: #111;
        font-weight: bold;
        display: flex;
        align-items: center;
        justify-content: flex-end;

        .range-title {
            color: @theme-color;
            margin-right: 10px;
        }        

        button {
            margin-left: 10px;
            margin-right: 0;
        }
    }
}

.footer {
    background-color: #e6e6e6;
    padding: 1.5rem 0;
    min-height: 50px;
    flex-shrink: 0;
}