.dashboard-card {
  margin-bottom: 2rem;
}

.dashboard-card .card-header {
  color: #fff;
}

.dashboard-card.card-documents .card-body, .dashboard-card.card-messages .card-body {
  padding: 0;
}

.dashboard-card.card-documents .card-header {background-color: #3aa217;}
.dashboard-card.card-invoice .card-header {background-color: #795bc3;}
.dashboard-card.card-messages .card-header {background-color: #ef6220;}
