@import '../../styles/vars.less';

.header {
    background-color: @theme-color;
    color: #fff;
    margin-bottom: 3rem;

    &__logo {}

    &__link {
        color: #fff!important;
    }
    &__link:hover, &__link.active {
        text-decoration: underline!important;
    }
}
