.invoice-preview {
  margin: 0 auto;
  padding: 15px;

  &__image {
    width: 100%;
    box-shadow: 3px 3px 3px #d2d2d2;
    filter: blur(1px);
  }
}

.invisible-document {
  display: none !important;
}
