html, body {
  margin: 0;
  height: 100%;
}

body {
  font-size: 16px;
  font-family: Lato, sans-serif;
  color: rgb(96, 96, 96);
  /* Do we need background as image? */
  /* background-image: url('../assets/images/background.png'); */
  background: linear-gradient(0deg, rgba(222,222,222,1) 0%, rgba(250,250,250,1) 100%);
  background-size: cover;
  background-attachment: fixed;
  overflow-x: hidden;
}