@import '../../styles/vars.less';

.title-action {
  display: flex;
  justify-content: space-between;
}

.messages-page {

  &__send-btn{
    float: right;
    margin-bottom: 20px;
  }

  &__tabs {
    margin-bottom: 10px!important;

    a {
      color: #000;
    }
  }
}

